src/main/mule/customer-proc-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <flow name="customer-proc-api-main">
        <http:listener config-ref="customer-proc-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json
---
{
    errorType: error.errorType.identifier ,
    details:  error.description default "error occurred"	
}]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[correlationId]" doc:name="Set TransactionId" doc:id="4b9f3e38-a6af-4aba-ac21-520b02971e8f" variableName="tid" />
        <apikit:router config-ref="customer-proc-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="ErrorMessage" doc:id="44345287-9101-4219-be0f-cd5cc57a9965" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    errorType: error.errorType.identifier ,
    details:  error.description default p('api.response.badRequest.message')	
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[p('api.response.badRequest.code') as Number]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="ErrorMessage" doc:id="4ddc0a17-f8f2-41b6-a691-9d2eb3bf8f9d" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
   errorType: error.errorType.identifier ,
    details: error.description default p('api.response.resourceNotFound.message')	
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[p('api.response.resourceNotFound.code') as Number]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform doc:name="ErrorMessage" doc:id="70517bf9-5c8e-4c75-970d-d8d10ea65348" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errorType: error.errorType.identifier ,
	details: error.description default p('api.response.methodNotAllowed.message')
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[p('api.response.methodNotAllowed.code') as Number]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform doc:name="ErrorMessage" doc:id="8e51c239-6aad-4a12-9d89-cf51db07542d" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errorType: error.errorType.identifier ,
	details: error.description default p('api.response.notAcceptable.message')
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[p('api.response.notAcceptable.code') as Number]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform doc:name="ErrorMessage" doc:id="391a2f41-bcc7-40c0-8aef-dcbee35542ed" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errorType: error.errorType.identifier ,
	details: error.description default p('api.response.unsupportedMediaType.message')
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[p('api.response.unsupportedMediaType.code') as Number]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform doc:name="ErrorMessage" doc:id="18fd513d-cc46-484b-93af-e1321ec4abb4" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errorType: error.errorType.identifier ,
	details: error.description default p('api.response.notImplemented.message')
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[p('api.response.notImplemented.code') as Number]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\customer\(customerId):application\json:customer-proc-api-config">
        <ee:transform doc:name="SettingVariables" doc:id="8678208b-7c3a-4272-86b7-7b0fa9476e41">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="customerId"><![CDATA[attributes.uriParams.'customerId']]></ee:set-variable>
                <ee:set-variable variableName="requestId"><![CDATA[attributes.queryParams.'requestId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="CustomerIdLogger" doc:id="130bbfa6-7623-4e52-99ea-e2cd7b652929" message="CustomerId: #[vars.customerId]" />
        <async doc:name="Async" doc:id="cc515e11-2154-476f-ae03-11b801da33ee">
            <ee:transform doc:name="deleteCustomerFlag" doc:id="d74a0906-6dbc-45e8-ba28-5f168e9fdcb6">
                <ee:message />
                <ee:variables>
                    <ee:set-variable variableName="updateCustomerFlag"><![CDATA['Success']]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <flow-ref doc:name="customer-common-implFlow" doc:id="7cdc56cb-f70a-4b50-8432-32464a008f77" name="customer-common-implFlow" />
            <remove-variable doc:name="Remove updateCustomerFlag" doc:id="0aa9791a-1054-4ad7-b505-5fafd2ff8428" variableName="updateCustomerFlag" />
        </async>
        <ee:transform doc:name="SendResponse" doc:id="11caa427-1bd6-497b-a563-c720a21a6426">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Request has been received to update customer data. Job will be executed in backend"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\customer\(customerId):customer-proc-api-config">
        <ee:transform doc:name="SettingVariables">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="CustomerIdLogger" doc:id="48f37252-fecb-46b2-8d1d-38b3807031d4" message="CustomerId: #[vars.customerId]" />
        <salesforce:query doc:name="Query customer Exists or not" doc:id="d2b9b43f-2c9c-49f5-9941-f64fcb4b0f42" config-ref="Salesforce_Config" target="customerExists">
            <salesforce:salesforce-query><![CDATA[SELECT count() FROM Contact WHERE Id  = ':customerId']]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	customerId : vars.customerId
}]]]></salesforce:parameters>
        </salesforce:query>
        <choice doc:name="Choice" doc:id="9439728c-2189-4e88-b98a-49d2e61e9e8c">
            <when expression="#[sizeOf(vars.customerExists default 0) &gt; 0]">
                <async doc:name="Async" doc:id="6d03c0fe-add1-43f6-bf79-9e3db3143fd3">
                    <ee:transform doc:name="deleteCustomerFlag" doc:id="0eb197ab-d957-4b14-a7a0-b5d8afdeaab9">
                        <ee:message />
                        <ee:variables>
                            <ee:set-variable variableName="deleteCustomerFlag"><![CDATA['Success']]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                    <flow-ref doc:name="customer-common-implFlow" doc:id="4c0007a7-950a-40a7-a704-a1889ade18bd" name="customer-common-implFlow" />
                    <remove-variable doc:name="Remove deleteCustomerFlag" doc:id="44c3a8bf-832d-4c37-a6c2-d8d42f3788de" variableName="deleteCustomerFlag" />
                </async>
                <ee:transform doc:name="SendResponse" doc:id="eb8c69bc-6007-4417-9691-9e29fec1eb4f">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Request has been received to delete customer data. Job will be executed in backend"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <ee:transform doc:name="ErrorResponse" doc:id="f72b248d-9fc9-4fd9-8eb2-742d89991fa1">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
message: "Entered customerId is not available. Please check and retry with valid customerId"]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>
    <flow name="get:\heartbeat:customer-proc-api-config">
        <ee:transform doc:name="sendResponse">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "API is UP",
  details: "System API Called Successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customer\(customerId):customer-proc-api-config">
        <ee:transform doc:name="SettingVariables" doc:id="d697ecfb-4f58-418a-9093-cecc4821afb9">
            <ee:variables>
                <ee:set-variable variableName="customerId"><![CDATA[attributes.uriParams.'customerId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="CustomerIdLogger" doc:id="97595255-51b8-42ca-8e81-cea5678d3845" message="CustomerId: #[vars.customerId]" />
        <flow-ref doc:name="customer-common-implFlow" doc:id="3db3e316-e1ae-4756-b1c0-7f20673aa194" name="customer-common-implFlow" />
    </flow>
    <flow name="post:\customer:application\json:customer-proc-api-config">
        <ee:transform doc:name="SettingVariables" doc:id="b72ea373-8516-474e-a64b-53c7843775f7">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="requestId"><![CDATA[attributes.queryParams.'requestId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="customer-create-implSub_Flow" doc:id="2ec39882-a543-4874-919a-2eb6e85dd001" name="customer-create-implSub_Flow" />
    </flow>
</mule>
